"*":
  core:
    destroyEmptyPanes: false
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "no"
    themes: [
      "unity-ui"
      "glacier-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "go-plus":
    panelDisplayMode: "closed"
  "linter-eslint":
    useGlobalEslint: true
  "platformio-ide-terminal":
    toggles:
      autoClose: true
  "release-notes":
    viewedVersion: "0.89.0"
  "ruby-test":
    rspecFileCommand: "docker-compose run -e \"RAILS_ENV=test\" app rspec --tty {relative_path}"
    rspecSingleCommand: "docker-compose run -e \"RAILS_ENV=test\"  app rspec --tty {relative_path}:{line_number}"
    specFramework: "rspec"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  welcome:
    showOnStartup: false
".erb.source":
  editor:
    tabLength: 4
