'.platform-darwin atom-text-editor':
  'cmd-r': 'unset!'

'.platform-darwin':
  'cmd-r': 'fuzzy-finder:toggle-file-finder'

'atom-text-editor.vim-mode.normal-mode':
  ', w': 'custom:save-and-add'

'body':
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'ctrl-shift-tab ^ctrl': 'unset!'
